/* Discord Widget Styles */
#discordWidgetContainer {
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid crimson;
  border-radius: 12px;
  display: inline-block;
  width: 380px;
}

#discordWidgetContainer h2 {
  font-size: 20px;
  color: #ff4c4c;
  margin-bottom: 10px;
}
